@font-face {
    font-family: 'Nunito Regular';
    src: url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Semibold';
    src: url('Nunito-SemiBold.woff2') format('woff2'),
        url('Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Lightitalic';
    src: url('Nunito-LightItalic.woff2') format('woff2'),
        url('Nunito-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Bold';
    src: url('Nunito-Bold.woff2') format('woff2'),
        url('Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

